!!!

%html

  %head
    = stylesheet_link_tag 'application', :media => :all
    %title SC Ruby Conference 2008
    
  %body
    #content
      #logo
      #header
        %h1 SC Ruby Conference 2008

      %ul#menu
        %li= link_to "Home", root_path
        |
        %li= link_to "Agenda", agenda_path
        |
        %li= link_to "Register", 'http://scrubyconf.eventbrite.com/'

      #submenu
      
      = content_tag(:p, flash[:notice], :id => "notices") if flash[:notice]

      #inner_content= yield

      #panel
        %h3 Sponsors
        #sponsors= render :partial => 'pages/sponsors'

      %br

    #footer
      &copy; 2008
      = link_to "ColaRuby", "http://colaruby.com/"

    %script{:type => "text/javascript"}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    %script{:type => "text/javascript"}
      var pageTracker = _gat._getTracker("UA-5579641-1");
      pageTracker._setDomainName("none");
      pageTracker._setAllowLinker(true);
      pageTracker._trackPageview();
